/* Import Google Fonts - Raleway and Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

/* This will allow the h100 Bootstrap classes and vertical centering to work as intended */
html {
	height: 100%;
}

body {
	background-color: white;
	font-family: 'Raleway', sans-serif
}

/* Color */

.orange-bg {
	background-color: #ff8a13f7 !important;
}

.text-black {
	color: black !important;
}

/* Header */

header {
	height: 15vh;
}

/* Logo */

.logo {
	height: 9vh;
}

/* Footer */

footer {
	position: static;
}

.social-link-container {
    margin: 0.5rem 0 !important;
}

.social-links {
	font-size: 2rem;
	padding: 0rem 2rem
}

.link-hover:hover {
	color: white !important;
}

.no-deco {
	text-decoration: none !important;
}

.footer-text {
	font-weight: 500 !important;
}

.copyright {
	font-family: 'Roboto', sans-serif;
	color: black !important;
	font-weight: 700;
}

/* Media queries */

/* Screens larger than 720px in width */
@media (min-width: 720px) {
	footer {
		position: fixed;
		bottom: 0;
	  }
}