/* Navbar */

.icon-navbar {
	font-size: 1.5vh;
}

.nav-link:visited {
	color: #663D1F;
}

/* Aspect Tiles */

/* Avatar aspect tile */
.avatar-card {
	height: 80px;
	width: 80px;
}

/* Aspect tiles - general */
.dropdown-pointer {
	font-size: 1.5rem;
}

.dropdown-header {
	font-weight: 500;
	color: #DFE0DF !important;
	font-size: 1rem;
}

.dropdown-menu {
	background-color: #663D1F !important;
	width: 100% !important;
}

.dropdown-item {
	font-weight: 600;
	color: #ea8232 !important;
}

.dropdown-item:active {
	color: #DFE0DF !important;
	background-color: #534439 !important;
}

.tile-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

.tile-hover:hover {
	color: #DFE0DF;
}

.tile-content {
	font-family: 'Raleway', sans-serif
}

/* Main topic carousel */

.main-topic-btn-selected {
	background-color: #663D1F;
	color: #ea8232; 
}

.main-topic-btn-selected:hover {
	color: #ea8232 !important; 
}

.main-topic-btn:hover {
	color: #DFE0DF;
}

.main-topic-btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 1.3rem;
}

.main-topic-scroll {
	color: #ea8232;
	font-size: 3rem;
}

.carousel-nav:focus {
	box-shadow: none; /* Removes Bootstrap's default glow */
}

.main-topic-scroll:hover {
  color: #005247 !important;
}

.carousel-nav:active {
	background-color: #ea8232;
}

/* Media queries */

/* Screens with a maximum width of 720px (screens with width of 720px or less) */
@media (max-height: 720px) {
	footer {
		position: static;
	}
}