/* Navbar */

.navbar {
  height: 4vh !important;
}

.nav-link {
	font-family: 'Roboto', sans-serif;
	color: #534439 !important;
	font-weight: 700;
	font-size: 1.2rem;
}

.nav-link:hover {
	color: #DFE0DF !important;
}