.aspect-scroll-icon {
  font-size: 3rem;
}

.aspect-scroll-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.aspect-scroll:focus {
	box-shadow: none; /* Removes Bootstrap's default glow */
}

.aspect-scroll:hover {
	background-color: #ea8232;
  color: #005247;
}

.aspect-scroll:active {
  background-color: #663D1F;
  color: #ea8232;
}

.white-bg {
  background-color: #DFE0DF !important;
}

