<!-- template extending from base.html template -->
{% extends "includes/base.html" %}

{% load static %}

<!-- This block contains the navigation bar -->
{% block navbar %}

<div class="container-fluid">
  <div class="row">
    
    <nav class="navbar navbar-expand orange-bg">
      
      <div class="col-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          </ul
        </div>
      </nav>
      
    </div>
  </div>
  
  {% endblock %}
  
  {% block content %}
  
  <!-- First row of dashboard -->
  
  <!-- Cards container -->
  <div class="contanier-fluid pt-2">
    <div class="row row-cols-3 g-2 mt-1">
      
      <!-- Avatar Card -->
      <div class="col-3">
        <div class="card orange-bg">
          <div class="row">
            <div class="col-4 text-center pt-2">
              <img src="{% static "images/resized-avatar.png" %}" class="card-img-top img-thumbnail avatar-card" alt="...">
            </div>
            <div class="col-8 justify-content-center">
              <h5 class="card-title pt-4 tile-title">Remo Stiefel</h5>
            </div>
          </div>
          
          <div class="card-body">
            <p class="card-text tile-content">Beschreibung.....</p>
          </div>
        </div>
      </div>
      
      
      <!-- Vignette aspect button -->
      
      <div class="col-6">

        <!-- Bootstrap dropdown button structure -->
        <div id="vignette-btn" class="btn-group col-12">
          <button type="button" class="btn orange-bg dropdown-toggle col-12 py-4 tile-hover" data-bs-toggle="dropdown" aria-expanded="false"><!--  disabled -->
            <span class="tile-title">Vignette </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
            <li>
              <p class="dropdown-header card-text tile-content">Vignette content here  I am a vignette I do this and that</p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-circle-arrow-right"></i> Vignette
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
      <!-- Umfragen Card -->
      
      <div class="col-3">
        
        <!-- Bootstrap dropdown button structure -->
        <div class="btn-group col-12">
          <button type="button" class="btn orange-bg dropdown-toggle col-12 py-4 tile-hover" data-bs-toggle="dropdown" aria-expanded="false">
            <span class=" tile-title">Umfragen </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
            <li>
              <p class="dropdown-header card-text tile-content">Umfragen content here  I am a umfragen I do this and that</p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-circle-arrow-right"></i> Umfragen
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
    </div>
    
    <!-- Second and third rows of dashboard aspects -->
    <div class="row row-cols-2 g-2 mt-1">
      
      <!-- Ressourcen Card -->
      
      <div class="col-6">
        
        <!-- Bootstrap dropdown button structure -->
        <div class="btn-group col-12">
          <button type="button" class="btn orange-bg dropdown-toggle col-12 py-4 tile-hover" data-bs-toggle="dropdown" aria-expanded="false"><!--  disabled -->
            <span class=" tile-title">Ressourcen </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
            <li>
              <p class="dropdown-header card-text tile-content">Ressourcen content here I am a ressourcen I do this and that</p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-circle-arrow-right"></i> Ressourcen
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
      <!-- Herausforderung Card -->
      
      <div class="col-6">
        
        <!-- Bootstrap dropdown button structure -->
        <div class="btn-group col-12">
          <button type="button" class="btn orange-bg dropdown-toggle col-12 py-4 tile-hover" data-bs-toggle="dropdown" aria-expanded="false"><!--  disabled -->
            <span class=" tile-title">Herausforderung </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
            <li>
              <p class="dropdown-header card-text tile-content">Herausforderung content here I am a herausforderung I do this and that</p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-circle-arrow-right"></i> Herausforderung
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
      <!-- Attribute Card -->
      
      <div class="col-6">
        
        <!-- Bootstrap dropdown button structure -->
        <div class="btn-group col-12">
          <button type="button" class="btn orange-bg dropdown-toggle col-12 py-4 tile-hover" data-bs-toggle="dropdown" aria-expanded="false"><!--  disabled -->
            <span class=" tile-title">Attribute </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
            <li>
              <p class="dropdown-header card-text tile-content">Attribute content here I am a attribute I do this and that</p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-circle-arrow-right"></i> Attribute
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
      <!-- Interview Card -->
      
      <div class="col-6">
        
        <!-- Bootstrap dropdown button structure -->
        <div class="btn-group col-12">
          <button type="button" class="btn orange-bg dropdown-toggle col-12 py-4 tile-hover" data-bs-toggle="dropdown" aria-expanded="false"><!--  disabled -->
            <span class=" tile-title">Interview </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
            <li>
              <p class="dropdown-header card-text tile-content">Interview content here I am a interview I do this and that</p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-circle-arrow-right"></i> Interview
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
    </div>
    
    <!-- Fourth row - Main topics -->

    <!-- New Main Topic Carousel -->

    <!-- Row with 3 main topics and nav buttons -->
    <div class="row g-2 mt-3 mb-3 pb-3">

       <!-- Carousel previous button -->
       <div class="col-2 d-flex justify-content-center align-items-center">
        <button id="prev-button" type="button" class="btn rounded-circle carousel-nav" data-bs-toggle="button" autocomplete="off">
          <!-- Font awesome icon -->
          <i class="fa-solid fa-circle-arrow-left main-topic-scroll"></i>
      </button>
      </div>

      <!-- Visible main topic left -->
      <div class="col-2">
        <button class="btn orange-bg col-12 rounded-pill main-topic-btn p-3" data-bs-toggle="button" autocomplete="off">
          <!-- Content from main_topics.js -->
        </button>
      </div>

      <!-- Empty column -->
      <div class="col-1"></div>
      
      <!-- Visible main topic centre -->
      <div class="col-2">
        <button class="btn orange-bg col-12 rounded-pill main-topic-btn p-3" data-bs-toggle="button" autocomplete="off">
          <!-- Content from main_topics.js -->
        </button>
      </div>

      <!-- Empty column -->
      <div class="col-1"></div>
      
      <!-- Visible main topic right -->
      <div class="col-2">
        <button class="btn orange-bg col-12 rounded-pill main-topic-btn p-3" data-bs-toggle="button" autocomplete="off">
          <!-- Content from main_topics.js -->
        </button>
      </div>

      <!-- Carousel next button -->
      <div class="col-2 d-flex justify-content-center align-items-center">
        <button id="next-button" type="button" class="btn rounded-circle carousel-nav" data-bs-toggle="button" autocomplete="off">
          <!-- Font awesome icon -->
          <i class="fa-solid fa-circle-arrow-right main-topic-scroll"></i>
        </button>
      </div>
    </div>
    
  </div>
  
  {% endblock %}
  
  {% block extra_js %}

  <!-- This script will store custom information in the session -->
  

  <!-- Main topic button state change js for indication of which button is selected -->
  <script src="{% static 'js/dashboard/main_topic_btn_state.js' %}"></script>

  <!-- This script will compile a list of main topic names for main_topics.js -->
  <script>
      mainTopics = [];
          {% for topic in main_topics %}
          mainTopics.push("{{ topic.friendly_name }}"),
          {% endfor %}
      console.log(mainTopics);
  </script>

  <!-- Main topic carousel script -->
  <script src="{% static 'js/dashboard/main_topic_carousel.js' %}"></script>

  {% endblock %}