<!-- template extending from base.html template -->
{% extends "includes/base.html" %}

{% load static %}

{% block navbar %}

<!-- This row contains the navigation bar -->
<div class="row">

	<nav class="navbar navbar-expand orange-bg">

		<div class="col-12">
			<ul class="nav">
				<li class="nav-item social-links">
					<a class="nav-link" href="{% url 'home' %}"><i class="fa-solid fa-angles-left"></i><span>Home</span></a>
				</li>
			</ul
		</div>
	</nav>
</div>

{% endblock %}

{% block content %}

<!-- First row of dashboard -->

<!-- Cards container -->
<div class="contanier pt-5">
	<div class="row row-cols-3 g-3 mt-1 px-4">

		<!-- Avatar Card -->
		<div class="col-3">
			<div class="card orange-bg">
				<div class="row">
					<div class="col-4 text-center pt-2">
						<img src="{% static "images/resized-avatar.png" %}" class="card-img-top img-thumbnail avatar-card" alt="...">
					</div>
					<div class="col-8 justify-content-center">
						<h5 class="card-title pt-4 tile-title">Remo Stiefel</h5>
					</div>
				</div>

				<div class="card-body">
					<p class="card-text tile-content">Beschreibung.....</p>
				</div>
			</div>
		</div>
	
		
		<!-- Vignette Card -->

		<div class="col-6">

			<div class="btn-group col-12">
				<button type="button" class="btn orange-bg dropdown-pointer border-5 dropdown-toggle dropdown-toggle-split col-1 py-4 tile-hover" data-bs-toggle="dropdown" 			aria-expanded="false">
					<button type="button" class="btn orange-bg col-11 text-center py-4 rounded-end tile-hover"><h5 class=" tile-title">Vignette</h5></button>
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
					<li><p class="dropdown-item card-text tile-content" href="#">Vignette content here  I am a vignette I do this and that</p></li>
				</ul>
			</div>
			
		</div>
	
		<!-- Umfragen Card -->

		<div class="col-3">

			<div class="btn-group col-12">
				<button type="button" class="btn orange-bg dropdown-pointer border-5 dropdown-toggle dropdown-toggle-split col-1 py-4 tile-hover" data-bs-toggle="dropdown" 			aria-expanded="false">
					<button type="button" class="btn orange-bg col-11 text-center py-4 rounded-end tile-hover"><h5 class=" tile-title">Umfragen</h5></button>
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
					<li><p class="dropdown-item card-text tile-content" href="#">Umfragen content here  I am a Umfragen I do this and that</p></li>
				</ul>
			</div>
			
		</div>
	
	</div>

	<!-- Second and third rows of dashboard -->
	<div class="row row-cols-2 g-5 mt-1 px-4">

		<!-- Ressourcen Card -->

		<div class="col-6">

			<div class="btn-group col-12">
				<button type="button" class="btn orange-bg dropdown-pointer border-5 dropdown-toggle dropdown-toggle-split col-1 py-4 tile-hover" data-bs-toggle="dropdown" 			aria-expanded="false">
					<button type="button" class="btn orange-bg col-11 text-center py-4 rounded-end tile-hover"><h5 class=" tile-title">Ressourcen</h5></button>
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
					<li><p class="dropdown-item card-text tile-content" href="#">Ressourcen content here  I am a Ressourcen I do this and that</p></li>
				</ul>
			</div>
			
		</div>
	
		<!-- Herausforderung Card -->

		<div class="col-6">

			<div class="btn-group col-12">
				<button type="button" class="btn orange-bg dropdown-pointer border-5 dropdown-toggle dropdown-toggle-split col-1 py-4 tile-hover" data-bs-toggle="dropdown" 			aria-expanded="false">
					<button type="button" class="btn orange-bg col-11 text-center py-4 rounded-end tile-hover"><h5 class=" tile-title">Herausforderung</h5></button>
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
					<li><p class="dropdown-item card-text tile-content" href="#">Herausforderung content here  I am a Herausforderung I do this and that</p></li>
				</ul>
			</div>
			
		</div>

		<!-- Attribute Card -->

		<div class="col-6">

			<div class="btn-group col-12">
				<button type="button" class="btn orange-bg dropdown-pointer border-5 dropdown-toggle dropdown-toggle-split col-1 py-4 tile-hover" data-bs-toggle="dropdown" 			aria-expanded="false">
					<button type="button" class="btn orange-bg col-11 text-center py-4 rounded-end tile-hover"><h5 class=" tile-title">Attribute</h5></button>
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
					<li><p class="dropdown-item card-text tile-content" href="#">Attribute content here  I am a Attribute I do this and that</p></li>
				</ul>
			</div>
			
		</div>
	
		<!-- Interview Card -->

		<div class="col-6">

			<div class="btn-group col-12">
				<button type="button" class="btn orange-bg dropdown-pointer border-5 dropdown-toggle dropdown-toggle-split col-1 py-4 tile-hover" data-bs-toggle="dropdown" 			aria-expanded="false">
					<button type="button" class="btn orange-bg col-11 text-center py-4 rounded-end tile-hover"><h5 class=" tile-title">Interview</h5></button>
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
					<li><p class="dropdown-item card-text tile-content" href="#">Interview content here  I am a Interview I do this and that</p></li>
				</ul>
			</div>
			
		</div>

	</div>

	<!-- Fourth row of dashboard -->

	<!-- Topic selector tiles -->
	<div class="row row-cols-3 g-5 mt-1 px-4 border-top border-orange border-4 mt-5">
		<div class="col-4 border-top-3">
			<input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
			<label class="btn btn-outline-success orange-bg col-12 tile-title" for="option1">Hohe Erwartungen an Ergebnisse</label>
		</div>
	
		<div class="col-4">
			<input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked>
			<label class="btn btn-outline-success orange-bg col-12 tile-title" for="option2">Schwierige Kollegenbeziehungen</label>
		</div>
	
		<div class="col-4">
			<input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
			<label class="btn btn-outline-success orange-bg col-12 tile-title" for="option3">Emotionale Belastung</label>
		</div>
	</div>

</div>

{% endblock %}
