<!-- template extending from base.html template -->
{% extends "includes/base.html" %}

{% load static %}

<!-- This block contains the navigation bar -->
{% block navbar %}

  <div class="container-fluid">
    <div class="row">
      
      <nav class="navbar navbar-expand orange-bg">
        
        <div class="col-12">
          
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
          </ul

        </div>
          
      </nav>
    
    </div>
  </div>
    
{% endblock %}

{% block content %}

<!-- current location and navigation of aspects container -->
<div class="contanier pt-2">

  <div class="row g-2 mt-1 d-flex justify-content-center align-items-center">

    <!-- Previous aspect button -->
    <!-- Next aspect button -->
    <div class="col-3">
      <div class="col-12 py-4 text-brown rounded tile-title">
        <button type="button" class="btn text-brown rounded-pill aspect-scroll d-flex mx-auto" data-bs-toggle="button"  autocomplete="off">
          <!-- Font awesome icon -->
          <i class="fa-solid fa-circle-arrow-left aspect-scroll-icon"></i>
          <span class="aspect-scroll-text ms-2">Dashboard</span>
        </button>
      </div>
    </div>

    <!-- Current location title -->
    <div class="col-6">
      <div class="col-12 orange-bg py-2 text-brown rounded tile-title text-center">
        <!-- Loop through aspect content -->
        {% for vignette in vignette_content %}
          {% if vignette.aspect.programmatic_name == aspect_selected and vignette.topic.programmatic_name == topic_selected %}
            <h1>{{ vignette.aspect }}</h1>
            <h1>{{ vignette.topic.friendly_name }}</h1>
          {% endif %}
        {% endfor %}
      </div>
      
    </div>
    
    <!-- Next aspect button -->
    <div class="col-3">
      <div class="col-12 py-4 text-brown rounded tile-title">
        <button type="button" class="btn text-brown rounded-pill aspect-scroll d-flex mx-auto" data-bs-toggle="button"  autocomplete="off">
          <span class="aspect-scroll-text me-2">Ressourcen</span>
          <!-- Font awesome icon -->
          <i class="fa-solid fa-circle-arrow-right aspect-scroll-icon"></i>
        </button>
      </div>
    </div>

  </div>

</div>

<div class="row container pt-5">

    <!-- Loop through aspect content -->
    {% for vignette in vignette_content %}

      <!-- Filter for aspect content with the aspect of vignette and the user selected main topic -->
      {% if vignette.aspect.programmatic_name == aspect_selected and vignette.topic.programmatic_name == topic_selected %}
        <div class="col-12 orange-bg">
          <h1 class="text-brown">Selected Aspect = {{ aspect_selected }}</h1>
          <h1 class="text-brown">Aspect Programmatic name = {{ vignette.aspect.programmatic_name }}</h1>
          <h1 class="text-brown"> Testing Successfull Main topic = {{ vignette.topic.programmatic_name }}</h1>
          <h2 class="text-brown ">Aspect = {{ vignette.aspect }}</h2>
          <p class="text-brown">Title Content = {{ vignette.title }}</p>
          <p class="text-brown">Situation Content = {{ vignette.situation }}</p>
          <p class="text-brown">Question Content = {{ vignette.question }}</p>
          {% for keyword in vignette.keywords.all %}
            <p class="text-brown">Keyword Content = {{ keyword.keyword }}</p>
          {% endfor %}
        </div>
      {% endif %}
      
    {% endfor %}
</div>
{% endblock content %}
```
